html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body,
body>div:first-child,
div#__next,
div#__next>div {
  height: 100%;
  overflow: hidden;
}

.Toastify {
  position: absolute;
  height: 0;
  width: 100%;
}

.Toastify__toast-container--bottom-center {
  position: absolute;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}